.card-header {
    font-weight: bold;
}

.card-header.bg-primary {
    color: #fff;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.btn {
    cursor: pointer !important;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.text-error {
    color: #f00;
}
