.custom-checkbox.active-item {
    color: #22ff22;
    cursor: pointer !important;
}

.todo-form {
    .input-group {
        span,
        input {
            border-radius: 0;
        }
    }
    input {
        line-height: 35px;
    }
    input:focus {
        outline: 0;
        -webkit-appearance: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .btn-primary {
        border-bottom-left-radius: 0;
    }
}
